.app {
  flex: 1;
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

// /* Delete this block after it was fixed in the lib */
// .mp-session-debugger-continuous-debugging-overlay {
//   position: relative !important;
//   inset: unset !important;
//   padding: 0 !important;
// }

// .mp-session-debugger-continuous-debugging {
//   margin-bottom: 15px;
// }

// .mp-session-debugger-popover-body:has(#mp-session-debugger-continuous-debugging-checkbox:checked) {
//   .mp-session-debugger-continuous-debugging {
//     ~ h2, ~ p {
//       display: none;
//     }
//   }
//   .mp-session-debugger-popover-footer {
//     display: none;
//   }
// }

.mp-session-debugger-button.no-draggable::before {
  top: -18px !important;
  font-size: 10px;
}
