@import "styles/variables";

.platform-diagram-wrapper {
  height: 100%;
  width: 100%;

  .platform-diagram {
    position: relative;
    width: calc(100% - 70px);
    height: 100%;

    .platform-diagram-toolbar-wrapper {
      position: absolute;
      bottom: 32px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 999;
    }
  }
}
