<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<div style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">Welcome to Multiplayer! 💜
  <div> </div>
</div>

<body
  style="background-color:#FAFBFB;padding:16px;margin:0 auto;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif">
  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
    style="max-width:600px;margin:0 auto;background-color:#FAFBFB">
    <tbody>
      <tr style="width:100%">
        <td>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
            style="display:flex;margin-top:44px;margin-bottom:44px;margin:0 auto;padding:20px 0 20px">
            <tbody>
              <tr>
                <td><img alt="Multiplayer Glyph" height="40px" src="https://assets.multiplayer.app/email/logo-glyph.png"
                    style="display:block;outline:none;border:none;text-decoration:none;margin:0 auto" width="40px" />
                  <h1
                    style="color:#2D3748;font-size:24px;text-align:center;font-weight:500;margin:30px 0;padding:0;line-height:normal">
                    Welcome to Multiplayer!</h1>
                  <p
                    style="font-size:14px;line-height:24px;margin:16px 0;color:#5D5D8F;text-align:center;vertical-align:middle">
                    Multiplayer is a collaborative developer platform built for teams that work on distributed software.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
            style="padding:16px;background-color:#fff;border-radius:16px;width:100%;height:auto;box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);margin-bottom:20px !important">
            <tbody>
              <tr>
                <td><img alt="Illustration" height="auto"
                    src="https://assets.multiplayer.app/email/welcome-illustration.png"
                    style="display:block;outline:none;border:none;text-decoration:none" width="100%" />
                  <p style="font-size:16px;line-height:24px;margin:16px 0;color:#4a5568;text-align:left">We leverage our
                    comprehensive understanding of your entire backend software platform to help you <a
                      href="https://www.multiplayer.app/docs/features/architecture-visualizations/"
                      style="color:#067df7;text-decoration:none" target="_blank">visualize </a>and <a
                      href="https://www.multiplayer.app/docs/features/system-auto-documentation/"
                      style="color:#067df7;text-decoration:none" target="_blank">auto-document </a>it, and help your
                    team <strong>quickly debug</strong> issues.<br /><br />From the high-level view of the logical
                    architecture, down to all the individual components, dependencies, and APIs, you’ll always have
                    accurate, thorough, and real-time insights into your system.<br /><br />✨ Today begins your
                    <strong>30-day free trial of Multiplayer Pro.</strong> After the trial ends, you can choose to <a
                      href="https://www.multiplayer.app/pricing/" style="color:#067df7;text-decoration:none"
                      target="_blank">purchase the Pro plan </a> and continue using all the Multiplayer features, or
                    downgrade to our free plan and enjoy it forever. ✨</p>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="height:1px;background-color:#E2E8F0;width:100%;margin:20px 0">
                    <tbody>
                      <tr>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <p
                    style="font-size:16px;line-height:24px;margin:16px 0;color:#4a5568;text-align:left;margin-left:28	px">
                    Let&#x27;s begin!</p>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="width:100%;display:flex;align-items:center;justify-content:start;gap:10px;margin-top:16px;height:100%">
                    <tbody style="width:100%">
                      <tr style="width:100%"><span
                          style="font-size:14px;display:inline-block;color:#fff;background-color:#473CFB;border-radius:50%;text-align:center;vertical-align:middle;width:20px;height:20px;line-height:20px;margin-right:10px">1</span><span
                          style="font-size:16px;color:#4a5568;line-height:24px;text-align:left">Log in at <a
                            href="https://go.multiplayer.app" style="color:#067df7;text-decoration:none"
                            target="_blank">go.multiplayer.app</a></span></tr>
                    </tbody>
                  </table>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="width:100%;display:flex;align-items:center;justify-content:start;gap:10px;margin-top:16px;height:100%">
                    <tbody style="width:100%">
                      <tr style="width:100%"><span
                          style="font-size:14px;display:inline-block;color:#fff;background-color:#473CFB;border-radius:50%;text-align:center;vertical-align:middle;width:20px;height:20px;line-height:20px;margin-right:10px">2</span><span
                          style="font-size:16px;color:#4a5568;line-height:24px;text-align:left">Name your Workspace,
                          Team, and Project</span></tr>
                    </tbody>
                  </table>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="width:100%;display:flex;align-items:center;justify-content:start;gap:10px;margin-top:16px;height:100%">
                    <tbody style="width:100%">
                      <tr style="width:100%"><span
                          style="font-size:14px;display:inline-block;color:#fff;background-color:#473CFB;border-radius:50%;text-align:center;vertical-align:middle;width:20px;height:20px;line-height:20px;margin-right:10px">3</span><span
                          style="font-size:16px;color:#4a5568;line-height:24px;text-align:left">Create a Platform and
                          map your system</span></tr>
                    </tbody>
                  </table>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="width:100%;display:flex;align-items:center;justify-content:start;gap:10px;margin-top:16px;height:100%">
                    <tbody style="width:100%">
                      <tr style="width:100%"><span
                          style="font-size:14px;display:inline-block;color:#fff;background-color:#473CFB;border-radius:50%;text-align:center;vertical-align:middle;width:20px;height:20px;line-height:20px;margin-right:10px">4</span><span
                          style="font-size:16px;color:#4a5568;line-height:24px;text-align:left">Invite your team and
                          collaborate</span></tr>
                    </tbody>
                  </table>
                  <p
                    style="font-size:16px;line-height:24px;margin:16px 0;color:#4a5568;text-align:left;margin-left:28	px">
                    Check out our “Getting Started” guide <a href="https://multiplayer.app/docs"
                      style="color:#067df7;text-decoration:none" target="_blank">here.</a></p>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
            style="vertical-align:middle;gap:16px;padding:24px;justify-content:center;text-align:center">
            <tbody>
              <tr>
                <td>
                  <p
                    style="font-size:14px;line-height:24px;margin:16px 0;color:#5D5D8F;text-align:center;vertical-align:middle">
                    We&#x27;d love to hear your thoughts—good or bad! <a href="https://cal.com/multiplayer"
                      style="color:#067df7;text-decoration:none" target="_blank">Schedule a quick chat </a>to share your
                    feedback on Multiplayer, and <strong>we&#x27;ll thank you with a 25% discount</strong> on your first
                    year on the Pro plan! 💜</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
            style="vertical-align:middle;gap:16px;padding:24px;justify-content:center;text-align:center">
            <tbody>
              <tr>
                <td>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="padding:16px">
                    <tbody>
                      <tr>
                        <td><a href="https://multiplayer.app/team" rel="noopener noreferrer"
                            style="color:#5D5D8F;text-decoration:none" target="_blank">About</a> · <a
                            href="https://multiplayer.app/blog" rel="noopener noreferrer"
                            style="color:#5D5D8F;text-decoration:none" target="_blank">Blog</a> · <a
                            href="mailto:hello@multiplayer.app" rel="noopener noreferrer"
                            style="color:#5D5D8F;text-decoration:none" target="_blank">Contact</a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
            <tbody>
              <tr>
                <td>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
                    style="margin-bottom:32px;width:100%">
                    <tbody style="width:100%">
                      <tr style="width:100%">
                        <td data-id="__react-email-column" style="width:66%"><img alt="Multiplayer" height="32"
                            src="https://assets.multiplayer.app/email/logo.png"
                            style="display:block;outline:none;border:none;text-decoration:none" width="144" /></td>
                        <td data-id="__react-email-column">
                          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0"
                            role="presentation">
                            <tbody style="width:100%">
                              <tr style="width:100%">
                                <td data-id="__react-email-column"><a href="https://dub.sh/twitter-multiplayer"
                                    style="color:#067df7;text-decoration:none" target="_blank"><img alt="Multiplayer"
                                      height="32" src="https://assets.multiplayer.app/email/social_twitter.png"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                      width="32" /></a></td>
                                <td data-id="__react-email-column"><a href="https://www.threads.net/@trymultiplayer"
                                    style="color:#067df7;text-decoration:none" target="_blank"><img alt="Threads"
                                      height="32" src="https://assets.multiplayer.app/email/social_threads.png"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                      width="32" /></a></td>
                                <td data-id="__react-email-column"><a href="https://dub.sh/linkedin-multiplayer"
                                    style="color:#067df7;text-decoration:none" target="_blank"><img alt="Multiplayer"
                                      height="32" src="https://assets.multiplayer.app/email/social_linkedin.png"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                      width="32" /></a></td>
                                <td data-id="__react-email-column"><a href="https://dub.sh/discord-multiplayer"
                                    style="color:#067df7;text-decoration:none" target="_blank"><img alt="Multiplayer"
                                      height="32" src="https://assets.multiplayer.app/email/social_discord.png"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                      width="32" /></a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="font-size:12px;line-height:15px;margin:16px 0;color:#b7b7b7;text-align:left">©2025 Multiplayer
            Software, Inc. <br />Started in New York, built everywhere. <br /><br />All rights reserved.</p>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
