<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<div style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">Verify your domain for
  Multiplayer!<div> ‌​</div>
</div>

<body
  style="background-color:#FAFBFB;padding:16px;margin:0 auto;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif">
  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
    style="max-width:600px;margin:0 auto;background-color:#FAFBFB">
    <tbody>
      <tr style="width:100%">
        <td>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
            style="margin-top:44px;margin-bottom:44px">
            <tbody>
              <tr>
                <td><img alt="Multiplayer" height="32px" src="https://assets.multiplayer.app/email/logo.png"
                    style="display:block;outline:none;border:none;text-decoration:none" width="144px" />
                  <h1
                    style="color:#2D3748;font-size:24px;text-align:left;font-weight:500;margin:30px 0;padding:0;line-height:normal">
                    Verify {{ domain }} for Multiplayer </h1>
                  <p
                    style="font-size:14px;line-height:normal;margin:16px 0;color:#5D5D8F;text-align:left;font-weight:400">
                    The verification code for the domain {{ domain }} is: {{ code }}. To complete the verification of your
                    domain, go back to your Multiplayer workspace settings.</p>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="font-size:14px;line-height:normal;margin:16px 0;color:#5D5D8F;text-align:left;font-weight:400">
            Thanks, <br />The Multiplayer Team</p>
          <hr style="width:100%;border:none;border-top:1px solid #eaeaea" />
          <p style="font-size:12px;line-height:15px;margin:16px 0;color:#b7b7b7;text-align:left">©2026 Multiplayer
            Software, Inc. <br />Started in New York, built everywhere. <br /><br />All rights reserved.</p>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
