MULTIPLAYER_RELEASE=latest

# OpenTelemetry
OTEL_EXPORTER_OTLP_HEADERS="Authorization={{OTEL_TOKEN}}"
REACT_APP_SESSION_DEBUGGER_KEY="{{OTEL_TOKEN}}"
REACT_APP_SESSION_DEBUGGER_API_BASE_URL=http://localhost
REACT_APP_SESSION_DEBUGGER_EXPORTER_ENDPOINT=http://localhost/v1/traces

# domain settings
COOKIE_DOMAIN=localhost
COOKIE_SECRET=secret
MULTIPLAYER_CLIENT_DOMAIN=http://localhost
MULTIPLAYER_BASE_API_URL=http://localhost
FRONTEND_DOMAIN=http://localhost
FRONTEND_PROTOCOL=https

# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GITLAB_APP_ID=
GITLAB_APP_SECRET=

# Git
GIT_BITBUCKET_CLIENT_ID=
GIT_BITBUCKET_CLIENT_SECRET=

GIT_GITLAB_APP_ID=
GIT_GITLAB_APP_SECRET=

GIT_GITLAB_ACCESS_TOKEN=

GIT_GITHUB_CLIENT_ID=
GIT_GITHUB_CLIENT_SECRET=

GIT_GITHUB_APP_ID=
GIT_GITHUB_APP_CLIENT_ID=
GIT_GITHUB_APP_CLIENT_SECRET=
GIT_GITHUB_APP_WEBHOOK_SECRET=
GIT_GITHUB_APP_PRIVATE_KEY=
GIT_GITHUB_APP_SLUG=

ATLASSIAN_APP_ID=
ATLASSIAN_APP_SECRET=


LINEAR_APP_ID=
LINEAR_APP_SECRET=


API_PROTOCOL=https

# notifications
POSTMARK_API_TOKEN=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# secrets
OAUTH_JWT_SECRET=secret
INTEGRATION_JWT_SECRET=secret
