REACT_APP_IS_PRODUCTION=true
REACT_APP_SESSION_DEBUGGER_API_BASE_URL=
REACT_APP_API_BASE_URL=
REACT_APP_API_PREFIX=/v0/api
REACT_APP_GIT_PREFIX=/v0/git
REACT_APP_AUTH_PREFIX=/v0/auth
REACT_APP_RADAR_PREFIX=/v0/radar
REACT_APP_ASSETS_PREFIX=/v0/assets
REACT_APP_VERSION_PREFIX=/v0/version
REACT_APP_COLLABORATION_PREFIX=/v0/collaboration
REACT_APP_POSTHOG_KEY=
REACT_APP_NEWRELIC_APPLICATION_ID=
REACT_APP_NEWRELIC_ACCOUNT_ID=
REACT_APP_PLATFORM_ENV=local
CI=
REACT_APP_SESSION_DEBUGGER_KEY=
REACT_APP_SANDBOX_URL=
REACT_APP_DEMO_PUBLIC=
